@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: rgba(217, 221, 235, 0.932);
    font-family: 'Muli', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;

}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.5s ease-in;

}

.panel h3{
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    margin: 0;
    opacity: 0;

}

.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}

@media (max-width: 450px) {
    .container{
        margin: 0;
        flex-direction: column;
        height: 90vh;
        width: 90%;
        

    }

    .panel{
        margin: 10px 0;
        width: 100%;
        background-size: cover;

    }

    .panel h3{
        opacity: 1;
        font-size: 0.7rem;
        bottom: 0.2rem;
        left: 35%;
        background-color: rgba(31, 26, 26, 0.664);
        border-radius: 20px;
        padding: 5px;
        
    }
    .panel.active h3{
        left: 10%;
        bottom: 0.8rem;
        transition: all 0.4s ease-in ;
        font-size: 1rem;
        background-color: rgba(31, 26, 26, 0);

    }
}